<div class="header header--pad30">
    <p class="text--font16">
        @@textHeader
    </p>
</div>
<div class="wrapper-blog-card">
    <div class="blog-img" style="background-image:url(@@blogImage);">
   
    </div>
</div>

<div class="wrappers-card__description">
    <div class="wrappers-card__description__left">
        <div class="date">
            <p class="text--font14">
                @@dataONE
            </p>
            <p class="text--font12small ">
                @@dataOneDate
            </p>
        </div>
        <div class="date">
            <p class="text--font14">
                @@dataTwo
            </p>
            <p>
            <ul class="menu margin-top--8px">
                <li class="text--font12small menu__item menu__item--brd-grey">Website</li>
                <li class="text--font12small menu__item menu__item--brd-grey">Design</li>
            </ul>
            </p>
        </div>
        <div class="date">
            <p class="text--font14">
                @@dataThree
            </p>
            <p class="text--font12small">
                @@dataThreeCounter
            </p>
        </div>
    </div>
    <div class="wrappers-card__description__right">
        <p class="text--font12smallMain">
            @@textBlogUp
        </p>
        <p class="text--font12smallMain">
            @@textBlogDown
        </p>

    </div>
</div>