<a href="#" class="menu-item">
    <div class="sprite @@item">

    </div>
    <p class="menu-item__textOfMenu">
        @@item
    </p>
    <div class="menu-item__hidden">
        <ul class="sub-menu @@item"> 
            <li  class="sub-menu__item ">
                @@stringOne
            </li>
            <li class="sub-menu__item ">
                @@stringTwo
            </li>
            <li class="sub-menu__item ">
                @@stringThree
            </li>
        </ul>
    </div>
</a>