<div class="menu__item">
    <div class="sprite home">

    </div>
    <div class="textOfMenu">
        home
    </div>
</div>


<div class="menu__item">
    <div class="sprite about">

    </div>
    <div class="textOfMenu">
        about
    </div>
</div>

<div class="menu__item">
    <div class="sprite contact">

    </div>
    <div class="textOfMenu">
        contact
    </div>
</div>

<div class="menu__item">
    <div class="sprite bong">

    </div>
    <div class="textOfMenu">
        bong
    </div>
</div>

<div class="menu__item">
    <div class="sprite work">

    </div>
    <div class="textOfMenu">
        work
    </div>
</div>