<div class="menu-item">
    <div class="sprite @@item">
    </div>
    <p class="menu-item__textOfMenu">
        @@item
    </p>
    <div class="menu-item__hidden">
        <ol class="sub-menu @@item"> 
            <li  class="sub-menu__item ">
                <a href="#">@@stringOne</a>
            </li>
            <li class="sub-menu__item ">
                <a href="#">@@stringTwo</a>
            </li>
            <li class="sub-menu__item ">
                <a href="#">@@stringThree</a>
            </li>
        </ol>
    </div>
</div>