.icons-element{
    width: 100px;
    height: 100px;
    padding: 10px;
  
    }
    .icons-element-field{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    
   
    .icons-image{
    
    }
    .icons-name{
      
    }