<div>
    <div><img src="@@picture" class="picture" alt=""></div>
    <div class="wrapper-about-text">
        <div class="card">
            <div>
                <p class="text--font18 @@marginBottom">
                    @@nameCard
                </p>
                <p class="text--font12color94 @@marginTop">
                    @@underName
                </p>
            </div>
            <p class="text--font16 text--font16--color51 @@marginTopNum">
                @@numberPost
    
            </p>
        </div>
        <p class="text--font12smallMain">
            @@textCard
        </p>
    </div>
</div>