.team-card{
    &__header{
        color: grey;
        font-size: 14px;
        margin-bottom: 20px;
        text-align: center;
    }
    &__position {
        color: orange;
    }
    &__img{
        border-radius: 50%;
        overflow: hidden;
        
        img{
        max-width: 100%;
        max-height: 100%;
   
    }
    }
    &__text{
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
    }
}