.article .read-more{
    color: #fb9c06;
    text-decoration: none;
    font-style: italic;
    text-transform: lowercase;
    display: block;
    float: right;
  }
  .article p{
    color: seagreen;
    font-size: 19px;
    font-style: italic;
    text-align: justify;
    padding: 10px;
  }
