@import "./partials/article/article.scss";
@import "./partials/team-card/team-card.scss";
@import "./partials/icon/icon.scss";
@import "./sprites.scss";



body * {
  outline: 1px solid lightgrey;

}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding:50px 0;
  // position: relative;
  
}
header{
  display: flex;
  justify-content: space-between;
 
}
.rabbit-logo{
  display: flex;
  align-items: center;
  

}
.image-logo{
  width: 100px;
  height: 100px;
  background-image: url('/img/orangeRabbit.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.text-logo{
  padding-left:30px;
  &-up{
    font-weight: bold;
    color: #fb9c06;
    text-align: center;
    text-transform: lowercase;
    font-size: 1.5em;
  }
  &-down{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em; 
    margin-top: 20px;
  }
}


// .navigation{
//   display: flex;
//  justify-content:space-around;
// }
.menu{
  display: flex;
}



.banner{
  height: 403px;
  background-image: url('/img/orangeMZFrabbit.png');
  background-size: cover;
  border-bottom: 3px solid #fb9c06;
  border-top: 3px solid #fb9c06;
  position: relative;
}

.banner> .container{
 padding: initial;
 position: absolute;
 top: 40%;
 left: 20%;
}
.banner p:first-child{
  color: #fcba50;
  background-color: rgba(71, 75, 75, 0.842);
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  // margin-bottom: 0px;
  // white-space: nowrap;
 }
.banner p:last-child{
  color:black;
  background-color: rgba(252,199,88,0.7);
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}







footer {
  background-color: #fb9c06;
  
}
.four__columns__item{
  width: 25%;

}
.four-columns{
  display: flex;
 
}
.header{
text-align: center;
color: #fb9c06;
text-decoration: underline;
padding: 40px 0 15px 0;
font-size: 26px;

}
.header.dots:after{
content:"..."
}
.three-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.three-columns__item{
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
  
}

