@import "./partials/article/article.scss";
@import"./partials/team-card/team-card.scss";

body * {
  outline: 1px solid lightgrey;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
header{
  display: flex;
  justify-content: space-between;
}
.rabbit-logo{
  display: flex;
}
.image-logo{
  background-image: url('/img/orangeRabbit.png');
  
}
.navigation{
  
}
footer {
  background-color: #fb9c06;
  
}
.four__columns__item{
  width: 25%;
  
 
}
.four-columns{
  display: flex;
 
}
.header{
text-align: center;
color: #fb9c06;
text-decoration: underline;
padding: 40px 0 15px 0;
font-size: 26px;

}
.header.dots:after{
content:"..."
}
.three-columns{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.three-columns__item{
  width: 33.3%;
  padding: 0 50px;
  box-sizing: border-box;
  
}

