body * {
  outline: 1px solid lightgrey;
}
.container{
  width: 100%;
  position: relative;
}

.header, .footer {
  background-color: rgba(35, 85, 60, 0.658);
  height: 100px;
  
}

.main{
min-height: 100vh;
}
.footer{
  width: inherit;
  position: absolute;
  top: 100%;
}

.block{
  background-color: lawngreen;
  height: 900px;
}