
  // .news-card__text{
  //   word-wrap: break-word;
  // }
  .image-card{
    height: 90px;
    &--big-card{
      height: 140px;
    }
    &--video-card{
      display: flex;
      height: 88px;
    }
  } 