<ul class="menu">
    <li class="menu__link"><a href="#" class="link">Hot thems</a>
        <ul class="sub-menu">
            <li class="menu__link"><a href="#" class="link">Breaking News</a>

            </li>
            <li class="menu__link"><a href="#" class="link">NBA</a>

            </li>
            <li class="menu__link">
                <a href="#" class="link">NFL preseason</a>
            </li>
        </ul>
    </li>
    <li class="menu__link"><a href="#" class="link">EURO-2016 Playoffs</a>
        <ul class="sub-menu">
            <li class="sub-menu__link"><a href="#" class="link">1/8 & 1/4</a>

            </li>
            <li class="sub-menu__link"><a href="#" class="link">Semifinal</a>

            </li>
            <li class="sub-menu__link">
                <a href="#" class="link">Final</a>
            </li>
        </ul>
    </li>
    <li class="menu__link"><a href="#" class="link">El'Classico</a>
        <ul class="sub-menu">
            <li class="sub-menu__link"><a href="#" class="link">Last games</a>

            </li>
            <li class="sub-menu__link"><a href="#" class="link">Statistic</a>

            </li>
            <li class="sub-menu__link">
                <a href="#" class="link">News</a>
            </li>
        </ul>
    </li>
</ul>